<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="Hi! My name is Piotr Osmola. I offer professional graphic desgin and front-end webdeveloper.">
<meta name="keywords" content="Subely, webdesign, front-end development, webdevelopment, app design, corporate identity, branding.">
<meta name="author" content="Subely">

<!-- Title -->
<title>About | Subely</title>
<!-- Favicons -->
<link rel="shortcut icon" href="assets/img/">
<link rel="apple-touch-icon" href="assets/img/favicon_60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon_76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon_120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon_152x152.png">

<!-- Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700' rel='stylesheet' type='text/css'>

<!-- CSS Styles -->
<link rel="stylesheet" href="../../assets/css/styles.css" />
<!-- CSS Animations -->
<link rel="stylesheet" href="../../assets/css/animate.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- CSS Template -->
<link rel="stylesheet" href="../../assets/css/base.css" />
<!-- <link rel="stylesheet" href="fonts/hostrocket.css" /> -->
<style>

</style>
</head>
<body>
<header id="header">

</header>

<!-- Content -->
<div id="content" class="mainContent">
	<section id="about" class="section visible mainContent">
		<div class="section-wrapper">
			<h1><span>Subely</span> is an certified design and hosting company.</h1>
			<ul class="history">
				<li class="first">
					<i class="hroc hroc-technology"></i>
					<h4>Founded</h4>
					2012
					<span class="about-stat-bottomtext">Lorem Ipsum is simply dummy text of the printing.</span>
				</li>
				<li>
					<i class="hroc hroc-business"></i>
					<h4>Successful Projects</h4>
					12
					<span class="about-stat-bottomtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum industry.</span>
				</li>
				<li>
					<i class="hroc hroc-search"></i>
					<h4>Clients</h4>
					30
					<span class="about-stat-bottomtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum industry.</span>
				</li>
				<li class="last">
					<i class="hroc hroc-transport"></i>
					<h4>Dedicated Server</h4>
					22+
					<span class="about-stat-bottomtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum industry.</span>
				</li>
			</ul>
			<div class="buttons">
				<a href="" class="btn btn-primary">Services</a>
				<a href="" class="btn btn-danger">Contact Subely</a>
			</div>
		</div>
	</section>
</div>
<!-- Content / End -->
<!-- Ajax Modal -->

<!-- Mobile Navigation -->
<button id="mobile-nav-toggle" class="icon icon-sm icon-circle icon-primary" data-target="mobile-nav"><i class="ti-menu"></i><i class="ti-close"></i></button>
<nav id="mobile-nav">

</nav>
<div id="tmp"></div>


<!-- JS Libraries -->
<script src="../../assets/js/jquery-1.11.3.min.js"></script>


<!-- JS Plugins -->
<script src="../../assets/js/plugins.js"></script>

<!-- JS Core -->
<script src="../../assets/js/actions.js"></script>
<script src="../../assets/js/components.js"></script>
<script src="../../assets/js/base.js"></script>

</body>
</html>