<div class="header-wrapper">

    <!-- Logo -->
    <a href="home" data-change-view="true" class="logo"></a>

    <!-- Navigation -->
    <nav id="main-nav">
        <ul class="nav nav-horizontal nav-main">
            <li><a href="about" data-change-view="true">About</a></li>
            <li><a href="services" data-change-view="true">Services</a></li>
            <li><a href="portfolio" data-change-view="true">Hosting Options</a></li>
            <li><a href="team_member" data-change-view="true">Team Member</a></li>

<!--             <li><a href="signin" data-change-view="true">Sign Up</a></li> -->
            <li><a href="contact" data-change-view="true">Contact &amp; Support</a></li>
            <!-- <li><a href="http://subely.com/user/Subely/portfolio?ref=Subely" target="_blank" class="external">DevDuo</a></li> -->
        </ul>
        <span id="nav-selector" class="bg-primary"></span>
    </nav>

    <!-- Language -->

    <!-- Login -->
    <style media="screen">
      .left-header-btn:before{margin: -5px;}
    </style>
    <a href="dbxlogin" id="header-login-btn" class="left-header-btn" data-change-view="true"> <!-- <i class="fa fa-lock"></i> --> Login<i class="fa fa-angle-right"></i></a>
    <!-- <li><a href="login" class="left-header-btn"data-change-view="true">Services</a></li> -->

    <!-- Text -->
    <div class="typing">
        <span id="typing-text" class="typing-text"></span>
    </div>

    <!-- Mobile Title -->
    <h1 id="mobile-title"></h1>

</div>
