<!DOCTYPE html>
<html lang="en">
<head>

<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="Hi! My name is Piotr Osmola. I offer professional graphic desgin and front-end webdeveloper.">
<meta name="keywords" content="Subely, webdesign, front-end development, webdevelopment, app design, corporate identity, branding.">
<meta name="author" content="Subely">

<!-- Title -->
<title>Subely - &amp; Front-End Development</title>

<!-- Favicons -->
<link rel="shortcut icon" href="../../assets/img/favicon.png">
<link rel="apple-touch-icon" href="../../assets/img/favicon_60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/favicon_76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon_120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/favicon_152x152.png">

<!-- Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700' rel='stylesheet' type='text/css'>

<!-- CSS Styles -->
<link rel="stylesheet" href="../../assets/css/styles.css" />

<!-- CSS Animations -->
<link rel="stylesheet" href="../../assets/css/animate.css" />

<!-- CSS Template -->
<link rel="stylesheet" href="../../assets/css/base.css" />

</head>

<body>

<!-- Header -->
<header id="header">

</header>
<!-- Header / End -->

<!-- Content -->
<div id="content">
    <section id="portfolio" class="section bg-black">

        <div class="portfolio-bgs swiper-bgs">
            <div class="bg-image dedisoft" data-bg="Dedisoft"></div>
            <div class="bg-image" style="background-image: url('assets/img/projects/restaumatic-bg.jpg')"; data-bg="Restaumatic"></div>
            <div class="bg-image" style="background-image: url('assets/img/projects/catering-bg.jpg')"; data-bg="Catering"></div>
            <div class="bg-image" style="background-image: url('assets/img/projects/medan-bg.jpg')"; data-bg="Medan"></div>
            <div class="bg-image" style="background-image: url('assets/img/projects/scurri-bg.jpg')"; data-bg="Scurri"></div>
            <div class="bg-image" style="background-image: url('assets/img/projects/rankingprzychodni-bg.jpg')"; data-bg="RankingPrzychodni"></div>
            <div class="bg-image" style="background-image: url('assets/img/projects/maxflo-bg.jpg')"; data-bg="MaxFlo"></div>
            <div class="bg-image" style="background-image: url('assets/img/projects/mojetajemnice-bg.jpg')"; data-bg="MojeTajemnice"></div>
            <div class="bg-image" style="background-image: url('assets/img/projects/aminoexperts-bg.jpg')"; data-bg="Aminoexperts"></div>
            <div class="bg-image" style="background-image: url('assets/img/projects/sandvalley-bg.jpg')"; data-bg="SandValley"></div>
        </div>

        <div class="swiper-wrapper">

            <!-- Project / Dedisoft -->
            <div class="project-slide swiper-slide dark" data-title="Dedisoft" data-scheme="dark" data-color="blue" data-bg="Dedisoft">
                <div class="content">
                    <h1>Dedisoft</h1>
                    <h3 class="text-muted">Online shop with software</h3>
                    <a href="projects/pl/dedisoft.html" data-toggle="ajax-modal" class="btn btn-blue"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image center left"><img src="assets/img/projects/dedisoft-main.png" alt=""></div>
            </div>

            <!-- Project / Medan -->
            <div class="project-slide swiper-slide" data-title="Medan" data-scheme="light" data-color="blue" data-bg="Medan">
                <div class="content">
                    <h1>Medan</h1>
                    <h3 class="text-muted">Shop with medical equipment</h3>
                    <a href="projects/pl/medan.html" data-toggle="ajax-modal" class="btn btn-blue"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image center"><img src="assets/img/projects/medan-main.png" alt=""></div>
            </div>

            <!-- Project / Catering -->
            <div class="project-slide swiper-slide dark" data-title="Catering" data-scheme="dark" data-color="green" data-bg="Catering">
                <div class="content">
                    <h1>Catering</h1>
                    <h3 class="text-muted">Online catering platform</h3>
                    <a href="projects/pl/catering.html" data-toggle="ajax-modal" class="btn btn-green"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image bottom"><img src="assets/img/projects/catering-main.png" alt=""></div>
            </div>

            <!-- Project / Scurri -->
            <div class="project-slide swiper-slide dark" data-title="Scurri" data-scheme="dark" data-color="orange" data-bg="Scurri">
                <div class="content">
                    <h1>Scurri</h1>
                    <h3 class="text-muted">Devlivery Management System</h3>
                    <a href="projects/pl/scurri.html" data-toggle="ajax-modal" class="btn btn-orange"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image center"><img src="assets/img/projects/scurri-main.png" alt=""></div>
            </div>

            <!-- Project / Restaumatic -->
            <div class="project-slide swiper-slide" data-title="Restaumatic" data-scheme="light" data-color="orange" data-bg="Restaumatic">
                <div class="content">
                    <h1>Restaumatic</h1>
                    <h3 class="text-muted">Restaurant website template</h3>
                    <a href="projects/pl/restaumatic.html" data-toggle="ajax-modal" class="btn btn-orange"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image bottom"><img src="assets/img/projects/restaumatic-main.png" alt=""></div>
            </div>

            <!-- Project / Ranking Przychodni -->
            <div class="project-slide swiper-slide dark" data-title="Ranking Przychodni" data-scheme="dark" data-color="blue" data-bg="RankingPrzychodni">
                <div class="content">
                    <h1>RankingPrzychodni.pl</h1>
                    <h3 class="text-muted">Hospitality Search Platform</h3>
                    <a href="projects/en/rankingprzychodni.html" data-toggle="ajax-modal" class="btn btn-blue"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image bottom"><img src="assets/img/projects/rankingprzychodni-main.png" alt=""></div>
            </div>

            <!-- Project / MaxFlo -->
            <div class="project-slide swiper-slide" data-title="MaxFlo" data-scheme="light" data-color="orange" data-bg="MaxFlo">
                <div class="content">
                    <h1>MaxFloRec</h1>
                    <h3 class="text-muted">Music publishers company</h3>
                    <a href="projects/en/maxflo.html" data-toggle="ajax-modal" class="btn btn-orange"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image center"><img src="assets/img/projects/maxflo-main.png" alt=""></div>
            </div>

            <!-- Project / Sand Valley -->
            <div class="project-slide swiper-slide dark" data-title="Sand Valley" data-scheme="dark" data-color="green" data-bg="SandValley">
                <div class="content">
                    <h1>Sand Valley</h1>
                    <h3 class="text-muted">Golf &amp; Courting Club</h3>
                    <a href="projects/en/sandvalley.html" data-toggle="ajax-modal" class="btn btn-green"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image center"><img src="assets/img/projects/sandvalley-main.jpg" alt=""></div>
            </div>

            <!-- Project / Moje Tajemnice -->
            <div class="project-slide swiper-slide dark" data-title="Moje Tajemnice" data-scheme="dark" data-color="blue" data-bg="MojeTajemnice">
                <div class="content">
                    <h1>MojeTajemnice.pl</h1>
                    <h3 class="text-muted">Online diary platform</h3>
                    <a href="projects/en/mojetajemnice.html" data-toggle="ajax-modal" class="btn btn-blue"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image center"><img src="assets/img/projects/mojetajemnice-main.png" alt=""></div>
            </div>

            <!-- Project / Aminoexperts -->
            <div class="project-slide swiper-slide dark" data-title="Aminoexperts" data-scheme="dark" data-color="blue" data-bg="Aminoexperts">
                <div class="content">
                    <h1>Aminoexperts</h1>
                    <h3 class="text-muted">Supplement's producers</h3>
                    <a href="projects/en/aminoexperts.html" data-toggle="ajax-modal" class="btn btn-blue"><span><strong>View</strong> more</span><i class="ti-arrow-down"></i></a>
                </div>
                <div class="image bottom"><img src="assets/img/projects/aminoexperts-main.jpg" alt=""></div>
            </div>

        </div>

            <div class="vertical-pagination portfolio-pagination"></div>

    </section>
</div>
<!-- Content / End -->

<!-- Ajax Modal -->
<div id="ajax-modal"></div>

<!-- Loading Overlay -->
<div id="loading-overlay"></div>

<!-- Mobile Navigation -->
<button id="mobile-nav-toggle" class="icon icon-sm icon-circle icon-primary" data-target="mobile-nav"><i class="ti-menu"></i><i class="ti-close"></i></button>
<nav id="mobile-nav">

</nav>

<div id="tmp"></div>

<!-- JS Libraries -->
<script src="../../assets/js/jquery-1.11.3.min.js"></script>

<!-- JS Plugins -->
<script src="../../assets/js/plugins.js"></script>

<!-- JS Core -->
<script src="../../assets/js/actions.js"></script>
<script src="../../assets/js/components.js"></script>
<script src="../../assets/js/base.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44410203-1', 'Subely.pl');
  ga('send', 'pageview');
</script>

</body>

</html>
