<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="Hi! My name is Piotr Osmola. I offer professional graphic desgin and front-end webdeveloper.">
<meta name="keywords" content="Subely, webdesign, front-end development, webdevelopment, app design, corporate identity, branding.">
<meta name="author" content="Subely">

<!-- Title -->
<title>Single Team Member | Subely</title>
<!-- Favicons -->
<link rel="shortcut icon" href="assets/img/">
<link rel="apple-touch-icon" href="assets/img/favicon_60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon_76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon_120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon_152x152.png">

<!-- Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700' rel='stylesheet' type='text/css'>

<!-- CSS Styles -->
<link rel="stylesheet" href="../../assets/css/styles.css" />
<!-- CSS Animations -->
<link rel="stylesheet" href="../../assets/css/animate.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- CSS Template -->
<link rel="stylesheet" href="../../assets/css/base.css" />
<!-- <link rel="stylesheet" href="fonts/hostrocket.css" /> -->

</head>
<body>
<!-- Header -->
<header id="header">

</header>
<!-- Header / End -->

<!-- Content -->
<div id="content" class="mainContent">
	<section id="single_team_member" class="section visible mainContent">
		<div class="section-wrapper">
			<div class="team-member cover columns">
				<div class="image-wrap column-10">
					<div class="imageSpace"><img src="assets/img/girl.jpg" alt="John Doe"></div>
					<div class="imageContent">
						<div class="text">
							<h3 class="title">John Doe</h3>
							<p class="subtitle uppercase">Creative director / designer</p>
							<p class="description">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here.</p>
						</div>
						
						<ul class="profile-with-skills">
							<li class="first">
								Abc Studio
								<h4>Illustration, Design, Animation</h4>
							</li>
							<li>
								Media Box Inc.
								<h4>Layers Created</h4>
							</li>
							<li>
								The New York Times
								<h4>Web Design, Front-End Developer</h4>
							</li>
							<li>
								Hindustan Times
								<h4>Hindustan Times</h4>
							</li>
							<li class="last">
								Mashable
								<h4>Motion, Design, Photo</h4>
							</li>
							<div class="clearfix"></div>
						</ul>
						<ul class="key-skills">
							<li>Illustration</li>
							<li>Design</li>
							<li>Animation</li>
							<li>Illustration</li>
							<li>Design</li>
							<li>Animation</li>
							<li>Illustration</li>
							<li>Design</li>
							<li>Animation</li>
						</ul>
					</div>
				</div>
				<div class="image-wrap column-2">
					<a href="?view=team_member" class="side first active">
						<div class="imageSpace"><img src="assets/img/girl.jpg" alt="John Doe"></div>
						<div class="imageContent">
							<div class="text">
								<h3 class="title">John Doe</h3>
								<p class="subtitle uppercase">Creative director / designer</p>
							</div>
						</div>
					</a>
					
					<a href="?view=team_member" class="side">
						<div class="imageSpace"><img src="assets/img/girl.jpg" alt="John Doe"></div>
						<div class="imageContent">
							<div class="text">
								<h3 class="title">John Doe</h3>
								<p class="subtitle uppercase">Creative director / designer</p>
							</div>
						</div>
					</a>
					
					<a href="?view=team_member" class="side">
						<div class="imageSpace"><img src="assets/img/girl.jpg" alt="John Doe"></div>
						<div class="imageContent">
							<div class="text">
								<h3 class="title">John Doe</h3>
								<p class="subtitle uppercase">Creative director / designer</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- Content / End -->

<!-- Mobile Navigation -->
<button id="mobile-nav-toggle" class="icon icon-sm icon-circle" data-target="mobile-nav"><i class="fa fa-bars"></i><i class="fa fa-close"></i></button>
<nav id="mobile-nav">

</nav>

<!-- JS Libraries -->
<script src="../../assets/js/jquery-1.11.3.min.js"></script>
<script>
	//jQuery(document).ready(function($){
		//$('.image-wrap').hover(
			//function(){$(this).toggleClass('imageSpace');}
		//);
	//});
</script>

<!-- JS Plugins -->
<script src="../../assets/js/plugins.js"></script>

<!-- JS Core -->
<script src="../../assets/js/js.cookie.js"></script>
<script src="../../assets/js/core.js"></script>
</body>
</html>