<div class="mobile-nav-wrapper">

    <!-- Navigation -->
    <nav id="side-nav">
        <ul class="nav nav-vertical nav-main">
            <li><a href="home" data-change-view="true"><span>Home</span></a></li>
            <li><a href="services" data-change-view="true"><span>Services</span></a></li>
            <li><a href="portfolio" data-change-view="true"><span>Portfolio</span></a></li>
            <li><a href="signin" data-change-view="true"><span>Sign In</span></a></li>
            <li><a href="contact" data-change-view="true"><span>Contact &amp; Support</span></a></li>
            <li><a href="http://subely.com/user/Subely/portfolio?ref=Subely" target="_blank" class="external">DevDuo</a></li>
        </ul>
    </nav>

    <!-- Social -->
    <div class="social-media">
        <span class="title"><strong>Follow</strong> on</span>
        <a href="https://www.facebook.com/Subely" target="_blank" title="Follow on Facebook">
            <span class="icon icon-circle icon-xs icon-facebook"><i class="fa fa-facebook"></i></span>
            <span class="name">Facebook</span>
        </a>
        <a href="https://twitter.com/Subely" target="_blank" title="Follow on Twitter">
            <span class="icon icon-circle icon-xs icon-twitter"><i class="fa fa-twitter"></i></span>
            <span class="name">Twitter</span>
        </a>
        <a href="http://subely.com/user/Subely/portfolio?ref=Subely" target="_blank" title="Follow on Envato">
            <span class="icon icon-circle icon-xs icon-envato"><i class="flaticon-logo137"></i></span>
            <span class="name">Envato</span>
        </a>
    </div>

    <!-- Language -->
    <a href="#" class="dropdown-toggle left-header-btn">Logout<i class="fa fa-angle-right"></i></a>

</div>
