<!DOCTYPE html>
<html lang="en">
<head>

<!-- Meta -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="A different hosting service">
<meta name="keywords" content="Subely, sub, hosting, dropbox hosting, simple hosting, free hosting, flatfile hosting">
<meta name="author" content="Subely Co">

<!-- Title -->
<title>Subely - Impressive Webdesign &amp; Front-End Development</title>

<!-- Favicons -->
<link rel="shortcut icon" href="../../assets/img/favicon.png">
<link rel="apple-touch-icon" href="../../assets/img/favicon_60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/favicon_76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon_120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/favicon_152x152.png">

<!-- Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700' rel='stylesheet' type='text/css'>

<!-- CSS Styles -->
<link rel="stylesheet" href="../../assets/css/styles.css" />

<!-- CSS Animations -->
<link rel="stylesheet" href="../../assets/css/animate.css" />

<!-- CSS Template -->
<link rel="stylesheet" href="../../assets/css/base.css" />

</head>

<body>

<!-- Header -->
<header id="header">

</header>
<!-- Header / End -->

<!-- Content -->
<div id="content">
    <section id="signin" class="section bg-black dark">

        <!-- BG Image -->
        <div class="bg-image animated infinite zooming" style="background-image: url('assets/img/photos/bg-sign-in.jpg')";></div>

        <div class="section-wrapper">

            <!-- Content -->
            <div class="sign-in-content v-center text-center">

                <span class="icon-lg text-blue"><i class="flaticon-letter110"></i></span>
                <h1><strong>Sign in</strong> and stay updated about my products!</h1>
                <form action="http://test.dev/test.php" id="sign-in-form" class="validate-form" method="POST">
                    <input type="hidden" name="u" value="ed47dbfe167d906f2bc46a01b">
                    <input type="hidden" name="id" value="24ac8a22ad">
                    <div class="row">
                        <div class="col-sm-8 form-group">
                            <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" class="form-control input-lg" placeholder="Tap your e-mail address..." required>
                        </div>
                        <div class="col-sm-4">
                            <button id="sign-in-submit" class="btn btn-lg btn-submit btn-blue"><span><strong>Sign In</strong></span><i class="ti-plus"></i></button>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </section>
</div>
<!-- Content / End -->

<!-- Ajax Modal -->
<div id="ajax-modal"></div>

<!-- Loading Overlay -->
<div id="loading-overlay"></div>

<!-- Mobile Navigation -->
<button id="mobile-nav-toggle" class="icon icon-sm icon-circle icon-primary" data-target="mobile-nav"><i class="ti-menu"></i><i class="ti-close"></i></button>
<nav id="mobile-nav">

</nav>

<div id="tmp"></div>

<!-- JS Libraries -->
<script src="../../assets/js/jquery-1.11.3.min.js"></script>

<!-- JS Plugins -->
<script src="../../assets/js/plugins.js"></script>

<!-- JS Core -->
<script src="../../assets/js/actions.js"></script>
<script src="../../assets/js/components.js"></script>
<script src="../../assets/js/base.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44410203-1', 'Subely.pl');
  ga('send', 'pageview');
</script>

</body>

</html>
